@import url('https://fonts.cdnfonts.com/css/clash-display');

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  transition: 0,5s all; 
  font-family: "Clash Display", sans-serif; 
 
}

nav, .navbar{
    background-color: #e8dbc5;
    color: #222;
    font-size: 1.4rem;

}

li, .dropdown open:hover{
    background-image: url(https://goindons.sirv.com/Images/Gradient-downscaled.jpg);
    font-weight: 500;
    background: linear-gradient(45deg, #ee6c4d, #1e2ede 98%);
    border-radius: 0,5rem;
    color: #333;

}
